.card-img {
  display: block;
  width: 100%;
}
.info-card h4,
p {
  color: #0002779a;
}
.card-container {
  margin: 50px;
  box-shadow: 7px 3px 3px #fcb8d2;
}
.box-container {
  display: flex;
  
}
.box {
  width: 50%;
}
.grid {
justify-content: center;
  width: 100%;
}
