.header {
    overflow: hidden;
    width: 100vw;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #0002779a;
  }
  
  .logo {
    font-size: 2rem;
    color: white;
    font-weight: bold; 
    padding: 30px;
    color: #fcb8d2;
  }
  
  .header ul {
    list-style: none;
    margin: 0;
    padding: 30px;
    display: flex;
    align-items: baseline;
  }
  
  .header li {
    margin-left: 3rem;
  }
  
  .header a {
    text-decoration: none;
    font-size: 1.5rem;
    color: #fcb8d2;
  }
  .logo:hover,
  .header a:hover,
  .header a:active,
  .header a.active {
    color: white;
    transition: 1s;
    cursor: pointer;
  }
  
  .badge {
    background-color: #cc2062;
    color: white;
    border-radius: 12px;
    padding: 0 1rem;
    margin-left: 0.5rem;
  }