.container-card {
  display: flex;
  align-items: center;
  flex-flow: column;
  justify-content: space-between;
}
.card {
  display: flex;
  align-items: start;
  align-self: center;
  flex-flow: column;
  justify-content: space-between;
  width: 20%;
 
}

.card-content {
  display: flex;
  margin: 1.25rem;
  flex-flow: column wrap;
}
.text-field {
 
  margin: 20px !important; 
}
